<div class="fondo"></div>
<div class="container">
    <div class="navBar">
        <div class="bienvenida">
            <span class="bienvenida">Habilitar Profesionales</span>
        </div>
        <div class="conjunto">
            <div class="optNavBar">
                <span class="nombreOptNavBar">{{user.email}}</span>
            </div>
            <div class="optNavBar" routerLink="/home/admin">
                <span class="nombreOptNavBar">Volver a Inicio</span>
            </div>        
            <div class="optNavBar" (click)="logout()">
                <span class="nombreOptNavBar">Cerrar Sesión</span>
            </div>    
        </div>
    </div>

    <div class="seleccion">
        <div class="column">
            <div class="tabla">
                <table class="tablita">
                    <tr>
                        <th>Email</th>
                        <th>Especialidades</th>
                    </tr>
                    <tr *ngFor="let profesional of listado" (dblclick)="mostrarUpdate(profesional)">
                        <td>{{profesional.email}}</td>
                        <td >{{profesional.especialidades}}</td>
                    </tr>
                </table>         
            </div>
        </div>
        <div class="column" *ngIf="update">
            <div class="update">
                <div class="tittle"><span class="title">Especialidades</span></div>
                <div class="cuerpo">
                    <span class="correo">{{profToUpdate.email}}</span>
                    <input type="text" class="esp" autocomplete="off" value={{profToUpdate.especialidades}} id="nuevaEsp">
                    <button type="button" (click)="agregar()">Agregar</button>
                </div>
            </div>
        </div>
    </div>
</div>