<div class="container">
    <div class="navBar">
        <div class="bienvenida">
            <span class="bienvenida">Error: Usted no ha ingresado</span>
        </div>
        <div class="conjunto">
            <div class="optNavBar">
                <span class="nombreOptNavBar" routerLink="/login">Ir al Ingreso</span>
            </div>
        </div>
    </div>

    <div class="noHabilitado">
        <span class="noHabilitado">Bienvenido a la clínica Online, para poder acceder debe ingresar su E-Mail y Contraseña.</span>   
    </div>
</div>