div.infoMedico{
    display: flex;
    width: 100%;
    height: 60%;
}

div.infoColumn{
    flex: 50%;
    font-size: 1.2em;
}

div.container{
    width: 100%;
    height: 100%;
}

.titulo {
    height: 15%;
    font-size: 2.5em;
    text-align: center;
    background: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuerpo{
    height: 85%;
}

form{
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.fechas {
    height: 20%;
}

div#divError, div#divErrorIgual {
    background: #fd5151ba;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 10%;
    width: 65%;
}

.botones {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 30%;
    height: 80%;
}

.nombre {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.cadaDia {
    text-align: center;
}

.dia {
    font-weight: 600;
}

span.titulosNombre{
    font-weight: 600;
}

.fechas {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

