$rojo: #fa2424;

*{
    font-family: 'coolvetica strong';
}

div.container{
    width: 100vw;
    height: 100vh;
    background: none;
}

div.optNavBar{
    font-size: 1.5em;
    width: 25%;
}

div.seleccion {
    height: 70%;
    width: 40%;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px #fa2424;
    border-radius: 5px;
    flex-flow: column;
    align-items: center;
    background: white;
}

div.subtitle {
    font-size: 2.5em;
    border-bottom: solid 2px #fa2424;
    width: 100%;
    background: #fa2424;
    color: white;
    text-align: center;
}

div.botones {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

button.seleccion {
    width: 70%;
    height: 25%;
    margin: 5%;
    font-family: 'coolvetica strong';
    border: solid 2px #fa2424;
    font-size: 2em;
}

div.conjunto {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.cont-opciones {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    width: 50%;
    height: 40%;
    background: #ffffff85;
    border: solid 1px $rojo;
    border-radius: 5px;
    display: flex;
    box-shadow: 0px 0px 10px 1px $rojo;
}

.cont-opciones:active{
    background: #ffffff85;
}

.opciones {
    flex: 33.3%;
    border: solid 1px red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uno:hover,:active{
    cursor: pointer;
    background-color: #ffffffba;
}

.dos:hover,:active{
    cursor: pointer;
    background-color: #ffffffba;
}

.tres:hover,:active{
    cursor: pointer;
    background-color: #ffffffba;
}