$rojo: #fa2424;

*{
    font-family: 'coolvetica strong';
}

div.container{
    width: 100vw;
    height: 100vh;
    background: none;
}

div.optNavBar{
    font-size: 1.5em;
    width: 25%;
}

div.seleccion {
    height: 70%;
    width: 40%;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px #fa2424;
    border-radius: 5px;
    flex-flow: column;
    align-items: center;
    background: white;
}

div.subtitle {
    font-size: 2.5em;
    border-bottom: solid 2px #fa2424;
    width: 100%;
    background: #fa2424;
    color: white;
    text-align: center;
}

div.botones {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

button.seleccion {
    width: 70%;
    height: 25%;
    margin: 5%;
    font-family: 'coolvetica strong';
    border: solid 2px #fa2424;
    font-size: 2em;
}

div.conjunto {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

div.cuerpo {
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex: 50%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    border: solid 1px $rojo;
    border-radius: 5px;
    width: 80%;
    height: 60%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}

.titulo {
    font-size: 3em;
    background: red;
    color: white;
    width: 100%;
    height: 15%;
    text-align: center;
}

.tabla {
    height: 85%;
    width: 100%;
    overflow: auto;
}

table {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

th{
    font-size: 1.5em;
}

tr:hover{
    cursor: pointer;
    background-color: #ffb6b6;
}

button{
    width: 100%;
    height: 100%;
    color: white;
}

button.rechazar{
    background-color: $rojo;
}

button.aceptar{
    border: solid 1px #3de500;
    background-color: #3de500;
}

button.encuesta{
    background-color: grey;
    border: solid 1px grey;
}

.motivo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000c4;
    top: 0%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.motivoPopOut{
    height: 40%;
    background-color: white;
    width: 35%;
    border: solid 1px $rojo;
    border-radius: 5px;
    overflow: hidden;
}

.motivoPopOut button{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: inherit;
    font-size: 2.5em;
}

.motivoTitulo {
    color: black;
    font-size: 2em;
    height: 30%;
    text-align: center;
    background: $rojo;
    color: white;
}

button.enviar {
    background: #32cb0a;
}

button.motivoCancelar {
    background: $rojo;
}

.motivoCuerpo {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.motivoBotones {
    height: 21%;
}

.resena{
    position: absolute;
    top: 0;
    background: rgba($color: #000000, $alpha: .6);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenidoResena {
    background: white;
    width: 30%;
    height: 45%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.contenidoResena p {
    background: $rojo;
    border: solid 1px $rojo;
    height: 15%;
    font-size: 2em;
    text-align: center;
    color: white;
    width:100%
}

.data {
    display: flex;
    justify-content: space-between;
    width: 60%;
    font-size: 1.3em;
}

.contenidoResena button{
    width: 30%;
    height: 75%;
    color: black;
    font-size: 1em;
}

.botonesResena {
    width: 100%;
    position: relative;
    top: 6%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#atendido{
    background: #32cb0a;
    text-transform: uppercase;
    color: white;
    font-size: 1.3em;
}

#pendiente{
    background: grey;
    text-transform: uppercase;
    color: white;
    font-size: 1.3em;
}

#cancelado{
    background: $rojo;
    text-transform: uppercase;
    color: white;
    font-size: 1.3em;
}