*{
    font-family: 'coolvetica strong';
}

$rojo : #fa2424;

div.container{
    width: 100vw;
    height: 100vh;
    background: none;
}

div.optNavBar{
    font-size: 1.5em;
    width: 20%;
}

div.seleccion {
    height: 70%;
    width: 40%;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px #fa2424;
    border-radius: 5px;
    flex-flow: column;
    align-items: center;
    background: white;
}

div.subtitle {
    font-size: 2.5em;
    border-bottom: solid 2px #fa2424;
    width: 100%;
    background: #fa2424;
    color: white;
    text-align: center;
}

div.botones {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

button.seleccion {
    width: 70%;
    height: 25%;
    margin: 5%;
    font-family: 'coolvetica strong';
    border: solid 2px #fa2424;
    font-size: 2em;
}

div.conjunto {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

div.container-graficos{
    height: 92%;
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.cuerpo-graficos {
    height: 70%;
    width: 50%;
    border: solid 1.5px #fa2424;
    background: white;
}

.botones-graficos {
    display: flex;
    height: 10%;
}

.botones-graficos div {
    flex: 25%;
    text-align: center;
    height: 100%;
    background: #fa2424;
    border: solid 1px #a50000;
    border-top: none;
    font-size: 1.2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones-graficos div:nth-child(1){
    border-left: none;
}

.botones-graficos div:nth-last-child(1){
    border-right: none;
}

.botones-graficos div:hover{
    cursor: pointer;
}

.apretado{
    background: white !important;
    border: none !important;
    color: black !important;
}

.material-icons{
    font-family: 'Material Icons';
    color: white;
    font-size: 1em;
    margin-left: 5%
}

.botones-graficos div:hover{
    background: white;
    color: $rojo;
}