*{
    font-family: 'coolvetica strong';
}

div.container{
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
}

div.optNavBar{
    font-size: 1.5em;
    width: 20%;
}

div.bienvenida {
    font-size: 2.5em;
    padding-left: 5%;
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.seleccion {
    height: 70%;
    width: 40%;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px #fa2424;
    border-radius: 5px;
    flex-flow: column;
    align-items: center;
    background: white;
}

div.subtitle {
    font-size: 2.5em;
    border-bottom: solid 2px #fa2424;
    width: 100%;
    background: #fa2424;
    color: white;
    text-align: center;
}

div.botones {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

button.seleccion {
    width: 70%;
    height: 25%;
    margin: 5%;
    font-family: 'coolvetica strong';
    border: solid 2px #fa2424;
    font-size: 2em;
}

div.conjunto {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}