<div class="container">
    <div class="formulario">
        <div class="formIzq">
        </div>
        <div class="formDer">
            <div class="titulo">
                <span>Ingreso</span>
            </div>
            <form (ngSubmit)="ingresar()" class="ingreso">
                <div class="usuario textos">
                    <span class="usuario">E-Mail</span>
                    <input type="text" id="email" class="datos" autocomplete="off" maxlength="30">
                    <div hidden class="error" id="errorEmail"><span class="error" id="spanEmail"></span></div>
                </div>
                <div class="contrasena textos">
                    <span class="contrasena">Contraseña</span>
                    <input type="password" id="contrasena" class="datos" maxlength="20">
                    <div hidden class="error" id="errorPass"><span class="error" id="spanPass"></span></div>
                </div>
                <div class="botones">
                    <button type="button" routerLink="/registro"> 
                        Registrarme
                    </button>
                    <button type="submit">
                        Ingresar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>