<div class="containerUsuario">
    <div class="form">
        <div class="titulo">
            <span>Registro de Usuarios</span>
        </div>
        <form ngNativeValidate (ngSubmit)="registrar()" class="registro">
            <div class="row carga">
                <div class="datosUsuario">
                    <div class="usuario textos">
                        <span class="usuario">Nombre</span>
                        <input type="text" id="nombre" required class="datos" autocomplete="off" maxlength="30">
                    </div>
                    <div class="usuario textos">
                        <span class="usuario">Apellido</span>
                        <input type="text" id="apellido" required class="datos" autocomplete="off" maxlength="30">
                    </div>
                </div>
                <div class="datosUsuario">
                    <div class="usuario textos">
                        <span class="usuario">E-Mail</span>
                        <input type="text" id="email" class="datos" autocomplete="off" maxlength="30">
                        <div hidden class="error" id="errorEmailUsu"><span class="error" id="spanEmailUsu"></span></div>
                    </div>
                    <div class="contrasena textos">
                        <span class="contrasena">Contraseña</span>
                        <input type="password" id="contrasena" class="datos" maxlength="20">
                        <div hidden class="error" id="errorPassUsu"><span class="error" id="spanPassUsu"></span></div>
                    </div>
                </div>
               <div class="fotos">
                   <div class="elegirFoto">
                       <img [src]="fotoUno" alt="Imagen del usuario">
                       <input type="file" accept="image/jpeg" id="fotoUno"> 
                   </div>
                   <div class="elegirFoto">
                       <img [src]="fotoDos" alt="Imagen del usuario">
                       <input type="file" accept="image/jpeg" id="fotoDos">
                   </div>
               </div>    
            </div>
            <div class="row envio">
                <div class="botones">
                    <button type="submit">Registrarme</button>    
                </div>
            </div>
        </form>
    </div>
</div>
<app-complete-the-word *ngIf="captcha" (completeWord_ouput)="validarCaptcha($event)"></app-complete-the-word>