$rojo: #fa2424;

*{
    font-family: 'coolvetica strong';
}

div.container{
    width: 100vw;
    height: 100vh;
    background: none;
}

div.optNavBar{
    font-size: 1.5em;
    width: 25%;
}

div.seleccion {
    height: 70%;
    width: 40%;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px #fa2424;
    border-radius: 5px;
    flex-flow: column;
    align-items: center;
    background: white;
}

div.subtitle {
    font-size: 2.5em;
    border-bottom: solid 2px #fa2424;
    width: 100%;
    background: #fa2424;
    color: white;
    text-align: center;
}

div.botones {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

button.seleccion {
    width: 70%;
    height: 25%;
    margin: 5%;
    font-family: 'coolvetica strong';
    border: solid 2px #fa2424;
    font-size: 2em;
}

div.conjunto {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

div.cuerpo {
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex: 50%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column:active{
    background-color: inherit;
}

.cuerpo:active{
    background-color: inherit;
}

.card:active{
    background-color: ffffff85;
}

.card {
    background-color: #ffffff85;
    box-shadow: 0px 0px 10px 1px $rojo;
    border: solid 1px $rojo;
    border-radius: 5px;
    width: 80%;
    height: 60%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}

.corta{
    width: 50%;
}

.opciones {
    width: 100%;
    flex: 50%;
    border: solid 1px red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}


.uno:hover,.uno:active{
    cursor: pointer;
    background-color: #ffffffba;
}

.dos:hover,.uno:active{
    cursor: pointer;
    background-color: #ffffffba;
}

.titulo {
    font-size: 3em;
    background: red;
    color: white;
    width: 100%;
    height: 15%;
    text-align: center;
}

.tabla {
    height: 85%;
    width: 100%;
    overflow: auto;
}

table {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

th{
    font-size: 1.5em;
}

tr:hover{
    cursor: pointer;
    background-color: #ffb6b6;
}

#atendido{
    background: #32cb0a;
    text-transform: uppercase;
    color: white;
    font-size: 1.3em;
}

#pendiente{
    background: grey;
    text-transform: uppercase;
    color: white;
    font-size: 1.3em;
}

#cancelado{
    background: $rojo;
    text-transform: uppercase;
    color: white;
    font-size: 1.3em;
}

button.rechazar{
    background-color: $rojo;
    color: white;
}
