<div class="fondo"></div>
<div class="container">
    <div class="navBar">
        <div class="bienvenida">
            <img src="../../../../assets/logoClinica.png" alt="Logo de la clinica">
            <span class="bienvenida">Inicio de Paciente</span>
        </div>
        <div class="conjunto">
            <div class="optNavBar">
                
                <span class="nombreOptNavBar" routerLink="/perfil">{{user.email}}</span>
            </div>
            <div class="optNavBar" (click)="logout()">
                <span class="nombreOptNavBar">Cerrar Sesión</span>
            </div>    
        </div>
    </div>
    <div class="cuerpo">
        <div class="column">
            <div class="card corta">
                <div class="opciones uno" routerLink="/paciente/mis_turnos">
                    <span>Mis Turnos</span>
                </div>
                <div class="opciones dos" routerLink="/paciente/obtener_turno">
                    <span>Cartilla</span>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="titulo">
                    <span>Turnos en Curso</span>
                </div>
                <div class="tabla">
                    <table>
                        <tr>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Profesional</th>
                            <th>Especialidad</th>
                            <th>Estado</th>
                        </tr>
                        <tr *ngFor="let turno of listadoTurnos.turnos | estadoNoAtendido | quinceDias">
                            <td>{{turno.fecha}}</td>
                            <td>{{turno.horario}}</td>
                            <td>{{turno.profesional}}</td>
                            <td>{{turno.especialidad}}</td>
                            <td [id]="turno.estado">{{turno.estado}}</td>
                            <td *ngIf="turno.estado != 'cancelado'"><button class="rechazar" (click)="cancelarTurno(turno)">Cancelar</button></td>
                        </tr>
                    </table>        
                </div>
            </div>
        </div>
    </div>
</div>